.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  width: 40%;
  margin: auto;
  padding-top: 40vh;
  text-align: center;
}

.displayContainer {
  margin-bottom: 2.5vh;
}
