.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  width: 40%;
  margin: auto;
  padding-top: 40vh;
  text-align: center;
}

.displayContainer {
  margin-bottom: 2.5vh;
}

.title {
  animation: flyup 1.25s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes flyup {
  0% {
    /* transform: translateY(60vh); */
    transform: translate(20vw, -60vh);
  }
  80% {
    transform: translate(-5vw, 5vh);
  }
  100% {
    transform: translateY(0, 0);
    opacity: 1;
  }
}
